@import "tailwindcss";
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

h1 {
  @apply text-4xl font-bold mb-4;
}
button {
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600;
}
